<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ApprovalTests" version="3.0.5" targetFramework="net40" />
  <package id="ApprovalUtilities" version="3.0.5" targetFramework="net40" />
  <package id="ObjectApproval" version="0.1.4" targetFramework="net40" />
  <package id="RhinoMocks" version="3.6.1" targetFramework="net40" />
</packages>